html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, sans-serif;
  margin: .5rem;
  line-height: 1.5;
  border-width: 3px;
  border-radius: 8px;
  border: solid #9a816d;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .4em;
  padding-top: .1em;
  background-color: #dcd4cd;
  margin: 0;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0;
}

main {
  color: #512200;
  font-size: 1rem;
}

p {
  border-bottom: solid  #9a816d;
  border-width: thin;
  padding-bottom: .8em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
  text-decoration: none;
}

dl {
  border-bottom: solid  #9a816d;
  border-width: thin;
  padding: .4em .75em .5em;
  font-size: .875rem;
  margin-top: .2rem;
  padding-bottom: 2em;
  line-height: .8;
}

dd {
  text-indent: 30%;
}

dt dl {
  display: inline-block;
}

.btn {
  font-family: Dosis, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  list-style-type: none;
  text-decoration: none;
  text-decoration-line: none;
  color: #f0eee8;
  padding: 0;
}

div {
  padding: .1em 0;
  padding-top: 0;
  background-color: #785439;
  border-radius: 8px;
  text-align: center;
  vertical-align: center;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: .6rem;
}

.link-card {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border-radius: 8px;
  color: #512200;
}

.link-card h2 {
  margin-top: 0;
}

.link-card:hover {
  background-color: #cabdb2;
  width: 100%;
}
