html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, sans-serif;
  margin: .5rem;
  line-height: 1.5;
  border-width: 3px;
  border-radius: 8px;
  border: solid #9a816d;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .7em;
  background-color: #dcd4cd;
}

body:hover {
  background-color: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  font-weight: 800;
}

main {
  color: #512200;
  font-size: 1rem;
}

p {
  border-bottom: solid  #9a816d;
  border-width: medium;
  padding-bottom: .6em;
}

dl {
  border-bottom: solid  #9a816d;
  border-width: medium
  padding: .4em .75em .5em;
  font-size: .875rem;
}

dl dd {
  float: center;
  text-align: center;
  line-height: .5;
}



a {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  list-style-type: none;
  text-decoration: none;
  color: #f0eee8;
}

div {
  padding: .4em 0 .4em 0;
  background-color: #785439;
  border-radius: 8px;
  text-align: center;
}

.link-card {
  margin: 0;
  border-radius: 8px;
}
.link-card:hover {
  background-color: #785439;
}
